/*
PALETA DE CORES:

PRIMARY-TEXT-COLOR: #291505;
SECOND-TEXT-COLOR: #EBDACC;
BACKGROUND-PRIMARY-COLOR: #FFFFFF;
BACKGROUND-SECONDARY-COLOR: #B2784A;
LAYOUT-COLOR: #E2C196;
NAV E FOOTER COLOR: #8F542E;

*/


button.btn{
    background: rgba(143, 84, 46, 1);
}